* {
  font-size: 12px;
  font-family: "Terminus (TTF)";
}

window#waybar {
    background: rgba(0,0,0,0);
}

#clock {
  padding: 4px 5px;
  color: #FFF;
}

#pulseaudio {
  padding: 4px 10px;
}

#network {
  padding: 4px 10px;
}

#tray {
  padding: 4px 5px;
}

#clock,#pulseaudio,#network, #tray {
  opacity:0.8;
  border-radius: 10px;
  margin: 3px;
  background: #1c1e26;
  color: #c5c8c6;
}
